#top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 100px;
    padding: 0 2.5%;
}

#nav-items {
    display: flex;
    gap: 20px;
}
